@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, black, #8B4513);
}

.card {
    position: relative;
    width: 360px;
    height: 190px;
    background: #1C1C1C;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgb(0,0,0,0.15);
    transition: 0.5s;
}

.card:hover{
    height: 460px;
}

.card:hover .imgBx {
    width: 250px;
    height: 250px;

}

.imgBx {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
    transition: 0.5s;
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
}

.card:hover .content .details {
    transform: translateY(0px);
}

.card .content .details h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: whitesmoke;
    line-height: 1.2em;
}

.card .content .details h2 span {
    font-size: 0.75em;
    font-weight: 600;
    opacity: 0.8;
}

.icon {
    height: 29px;
    width: 29px;
    margin-top: 30px;
    transition: transform 0.7s; /* Adicione a transição para a transformação */
}

.icon:hover {
    transform: scale(1.5); /* Aumenta o tamanho ao passar o mouse */
}

.icon {
    transform: scale(1); /* Retorna ao tamanho original */
}

.card .content .details .data {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 10px 0;
}

.card .content .details .data h3 {
    font-size: 1em;
    color: black;
    line-height: 1.2em;
    font-weight: 600;
}

.card .content .details .actionBtn {
    gap: 20px;
}

.card .content .details .actionBtn button {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background-color:#363636;
    color: white;
    cursor: pointer;
}
