@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, black, #8B4513);
}

.card {
    position: relative;
    width: 360px;
    height: 190px;
    background: whitesmoke; /* Alteração da cor de fundo */
    border-radius: 20px;
    box-shadow: 0 35px 80px rgb(0,0,0,0.15);
    transition: 0.5s;
}

.card.dark-mode {
    background: #1C1C1C;
}

.card:hover{
    height: 460px;
}

.card:hover .imgBx {
    width: 250px;
    height: 250px;
}

.imgBx {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
    transition: 0.5s;
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
}

.card:hover .content .details {
    transform: translateY(0px);
}

.card .content .details h2,
.card .content .details h3 {
    font-size: 1.25em;
    font-weight: 600;
    color: black;
    line-height: 1.2em;
}

.card.dark-mode .content .details h2,
.card.dark-mode .content .details h3 {
    color: whitesmoke; /* Alteração: mudar a cor do texto para whitesmoke no modo escuro */
}

.card .content .details h2 span {
    font-size: 0.75em;
    font-weight: 600;
    opacity: 0.8;
}

.icon, .sol, .lua {
    height: 29px;
    width: 29px;
    margin-top: 30px;
    transition: transform 0.7s;
}

.icon:hover, .sol:hover, .lua:hover {
    transform: scale(1.5);
}

.sol, .lua {
    transform: scale(1);
}

.hidden {
    display: none;
}

.white-icon {
    filter: invert(100%);
}

.card .content .details .data {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 10px 0;
}

.card .content .details .data h3 {
    font-size: 1em;
    color: black;
    line-height: 1.2em;
    font-weight: 600;
}

.card .content .details .actionBtn {
    position: fixed; 
    bottom: 20px;
    right: 20px; 
}

.card .content .details .actionBtn button {
    width: 30px; /* Definir largura menor */
    height: 30px; /* Definir altura menor */
    padding: 0; /* Remover padding */
    background-color: transparent; /* Definir cor de fundo transparente */
    border: none; /* Remover borda */
    outline: none; /* Remover borda de foco */
    cursor: pointer;
    color: black; /* Definir cor do texto */
    font-size: 20px; /* Tamanho do ícone */
}

.card.dark-mode .content .details .actionBtn button {
    background-color: #eeeeee; /* Alteração: mudar a cor de fundo do botão para melhor contraste no modo escuro */
    color: whitesmoke; /* Alteração: mudar a cor do texto do botão para melhor contraste no modo escuro */
}

.card.dark-mode .content .details .actionBtn button i {
    transform: rotate(45deg);
}

.card .content .details .actionBtn button::before {
    content: ''; /* Adicionar pseudo-elemento para criar o ícone do botão */
    display: block;
    width: 20px;
    height: 2px;
    background-color: black; /* Definir cor do ícone */
    position: absolute;
   
